name: minify

on: [push, pull_request]

jobs:
  test:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-20.04]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Minify Actions
      uses: amireshoon/minifyAction@main
      with:
        push-branch: production
        repo: ${{github.repository}}
    - name: Running Tests
      run: |
        minifier test.css
        minifier.sh ${{ push-branch }} ${{repo}}
    name: Minify
